<div class="photo-detail-container">
  <div class="photo-card">
    <button class="nav-btn left" (click)="previousPhoto()">&#8592;</button>

    <img [src]="getImageSource(photo)" [alt]="photo.title" />

    <button class="nav-btn right" (click)="nextPhoto()">&#8594;</button>

    <h2>{{ photo.title }}</h2>
    <p>{{ photo.description }}</p>
    <p><strong>Snaps:</strong> {{ photo.snaps }}</p>

    <!-- Conteneur des boutons pour un espacement homogène -->
    <div class="button-container">
      <button (click)="onSnapClicked(photo)">
        {{ photo.isSnapped ? 'UnSnap' : 'Snap' }}
      </button>
      <button (click)="randomPhoto()">
        🔀
      </button>
    </div>
  </div>
</div>