<div class="photo-gallery">
  <div class="average-snaps">
    <h3>Moyenne des snaps : {{ getAverageSnaps() | number:'1.0-2' }}</h3>
  </div>  
  <div class="snaps-container">  
    <div *ngFor="let photo of photos" 
         class="photo-card" 
         [ngClass]="{'snapped': photo.isSnapped}">
      <img [src]="photo.imageUrl" [alt]="photo.title" />
      <h2>{{ photo.title }}</h2>
      <p>{{ photo.description }}</p>
      <p><strong>Snaps:</strong> {{ photo.snaps }}</p>
      <!-- Affichage si le FaceSnap est au-dessus ou en-dessous de la moyenne -->
      <p *ngIf="isAboveAverage(photo.snaps)">
        🟢 Ce FaceSnap est au-dessus de la moyenne !
      </p>
      <p *ngIf="isBelowAverage(photo.snaps)">
        🔴 Ce FaceSnap est en-dessous de la moyenne.
      </p>
      <p *ngIf="isEqualAverage(photo.snaps)">
        ⚪ Ce FaceSnap est exactement dans la moyenne.
      </p>
      <!-- Bouton Snap/UnSnap -->
      <button (click)="onSnapClicked(photo)">
        {{ photo.isSnapped ? 'UnSnap' : 'Snap' }}
      </button>

      <button (click)="onViewPhoto(photo.id)">OnView</button>

    </div>
  </div>
</div>
